/*Definition Body*/

body {
    background-color: black;
}


/*interrupt button*/

#stopStart {
    border: 3px solid green;
    position: absolute;
    display: block;
    left: 1%;
    top: 3%;
    height: 5%;
    width: 2.5%;
    background-color: white;
    z-index: 99;
}


/*countdownTimer*/

#countdownTimer {
    width: 100%;
    height: 100%;
    border: none;
    display: none;
    background-color: black;
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 50;
    opacity: 1;
    font-size: 150%;
    text-align: center;
    padding-top: 25%;
}


/*Definition Highscore*/

#gruenerBalken {
    border: 3px solid green;
    position: absolute;
    display: block;
    left: 1%;
    top: 10%;
    height: 80%;
    width: 2%;
    background-color: black;
    z-index: 1;
}

#gruenerBalken2 {
    border: 3px solid green;
    position: absolute;
    display: block;
    left: 1%;
    bottom: 9%;
    height: 0%;
    width: 2%;
    background-color: green;
    z-index: 1;
    -webkit-transition: height 0.5s;
    /* For Safari 3.1 to 6.0 */
    transition: height 0.5s;
}

#gruenerBalken3 {
    border: 3px solid green;
    position: absolute;
    display: block;
    left: 1%;
    bottom: 9%;
    height: 0%;
    width: 2%;
    background-color: red;
    z-index: 1;
    -webkit-transition: height 10s;
    /* For Safari 3.1 to 6.0 */
    transition: height 10s;
    transition-timing-function: linear;
}

#handicap {
    border: 3px solid white;
    position: absolute;
    display: block;
    left: 1%;
    bottom: 69%;
    height: 0%;
    width: 2%;
    background-color: white;
    z-index: 1;
}

#Input {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
    background-color: black;
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 50;
    opacity: 1;
    font-size: 150%;
    text-align: center;
}

#leftside1 {
    width: 50%;
    height: 100%;
    border: none;
    display: block;
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: 0%;
    z-index: 2;
    opacity: 1;
}

#leftside2 {
    width: 50%;
    height: 100%;
    border: none;
    display: block;
    background-color: gray;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: 0%;
    z-index: 1;
    opacity: 1;
}

#rightside1 {
    width: 50%;
    height: 100%;
    border: none;
    display: block;
    background-color: black;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-left: 0%;
    z-index: 2;
    opacity: 1;
}

#rightside2 {
    width: 50%;
    height: 100%;
    border: none;
    display: block;
    background-color: gray;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-left: 0%;
    z-index: 1;
    opacity: 1;
}


/*GoOnButton*/

#GoOnbutton {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
    background-color: black;
    color: white;
    font-size: 150%;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-left: 0%;
    z-index: 1;
    opacity: 1;
}


/*Score-Anzeige*/

#scoreanzeige {
    width: 100%;
    height: 100%;
    display: block;
    background-color: black;
    color: white;
    font-size: 150%;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-left: 0%;
    z-index: 1;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
}


/*Standard Kreis
#L{
		
	top: 100px;
	left:100px;
	opacity: 1;
    position: absolute; 
	z-index: 10;

    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
	border: 4px solid white;
   
}*/

#L1 {
    top: 100px;
    left: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    display: block;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#L2 {
    top: 100px;
    left: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#L3 {
    top: 100px;
    left: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#L4 {
    top: 100px;
    left: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#L5 {
    top: 100px;
    left: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#L6 {
    top: 100px;
    left: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#L7 {
    top: 100px;
    left: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#L8 {
    top: 100px;
    left: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#L9 {
    top: 100px;
    left: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#L10 {
    top: 100px;
    left: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#L11 {
    top: 100px;
    left: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#L12 {
    top: 100px;
    left: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#L13 {
    top: 100px;
    left: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#L14 {
    top: 100px;
    left: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#L15 {
    top: 100px;
    left: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#L16 {
    top: 100px;
    left: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#L17 {
    top: 100px;
    left: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#L18 {
    top: 100px;
    left: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#L19 {
    top: 100px;
    left: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#L20 {
    top: 100px;
    left: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#L21 {
    top: 100px;
    left: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#L22 {
    top: 100px;
    left: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#L23 {
    top: 100px;
    left: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#L24 {
    top: 100px;
    left: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#L25 {
    top: 100px;
    left: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#LTarget {
    top: 100px;
    left: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 25px;
    height: 25px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}


/*rechts*/

#R1 {
    top: 100px;
    right: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#R2 {
    top: 100px;
    right: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#R3 {
    top: 100px;
    right: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#R4 {
    top: 100px;
    right: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#R5 {
    top: 100px;
    right: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#R6 {
    top: 100px;
    right: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#R7 {
    top: 100px;
    right: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#R8 {
    top: 100px;
    right: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#R9 {
    top: 100px;
    right: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#R10 {
    top: 100px;
    right: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#R11 {
    top: 100px;
    right: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#R12 {
    top: 100px;
    right: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#R13 {
    top: 100px;
    right: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#R14 {
    top: 100px;
    right: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#R15 {
    top: 100px;
    right: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#R16 {
    top: 100px;
    right: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#R17 {
    top: 100px;
    right: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#R18 {
    top: 100px;
    right: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#R19 {
    top: 100px;
    right: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#R20 {
    top: 100px;
    right: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#R21 {
    top: 100px;
    right: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#R22 {
    top: 100px;
    right: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#R23 {
    top: 100px;
    right: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#R24 {
    top: 100px;
    right: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#R25 {
    top: 100px;
    right: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}

#RTarget {
    top: 100px;
    right: 100px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    width: 25px;
    height: 25px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border: 4px solid white;
}